<!DOCTYPE html>
{% load i18n %}

{% load static %}

<html{% block iommi_html_tag_attrs %} lang="{{ iommi_language_code }}"{% endblock %}>
<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block iommi_head_contents %}{% endblock %}
    {% for asset in assets.values %}
      {{ asset }}
    {% endfor %}
    {% block iommi_head_contents_last %}{% endblock %}
    <style>
        .required label:after {
            content: " *";
            color: red;
        }
    </style>
</head>
<body{% block iommi_body_tag_attrs %}{% endblock %}>
    {% block iommi_top %}{% endblock %}

    <main class="main-content mb-5">
        <aside class="sidebar-wrapper">
            <div class="sidebar">

            </div>
        </aside>
        {{ container.iommi_open_tag }}
            <div class="container-fluid">
                <div class="row">
                   <div class="col-lg-12">
                      <div class="d-flex align-items-center user-member__title mb-30 mt-30">
                         <h4 class="text-capitalize">{% translate "Your Profile" %}</h4>
                      </div>
                   </div>
                </div>
                <div class="row">
                   <div class="col-lg-12">
                        {% block content %}
                        {% endblock %}
                       </div>
                </div>
            </div>
        {{ container.iommi_close_tag }}
    </main>
    {% block iommi_bottom %}{% endblock %}
</body>
</html>
